html {
  height: 100%;
}

body {
  background: #f9f9f9;
  font-family: sans-serif;
  min-height: 100%;
}

a,
a:hover {
  color: inherit;
}

input,
.form-control {
  border-radius: 0px;
}

.has-error .form-control:focus,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

button:focus {
  outline: 0;
}

.btn {
  border: none;
  font-weight: 400;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.btn-danger {
  background: #e02517;
}

.btn-action {
  background: #eaeaea;
  font-size: 12px;
  padding: 0 0.5rem;
}

.btn-not-delete {
  background: #e02517;
  text-decoration: line-through;
  color: #fff;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #272634;
  border-color: #272634;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > a,
.pagination > li > span {
  color: #272634;
}

.breadcrumb {
  background: transparent;
  margin: 0;
  padding-left: 2rem;
  padding-top: 1.3rem;
}

.btn-link {
  color: #3097D1 !important;
}

.row.no-gutter {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.btn-delete {
  background: transparent;
  border: none;
  padding: 0;
}

.logout,
.pwd-req {
  font-size: 12px;
}

.card {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.card {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
  position: relative;
}

#sidebar {
  background: #272634;
  color: #828282;
  position: fixed;
  height: 100%;
  width: 260px;
}

#sidebar #sidebar-logo {
  padding: 2rem;
}

#sidebar #sidebar-admin {
  background: #302f42;
  padding: 2rem;
}

#sidebar #sidebar-content {
  padding: 2rem;
}

#sidebar #sidebar-content ul li {
  margin: 8px 0;
}

#sidebar #sidebar-content ul li.active {
  color: #cfc;
}

#sidebar #sidebar-content ul li a {
  display: block;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  padding: 0;
  position: relative;
}

#sidebar #sidebar-content ul li a i {
  background: #1c1b27;
  font-size: 16px;
  line-height: 31px;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 0;
  border-radius: 3px;
  text-align: center;
}

#sidebar #sidebar-content ul li a:after {
  content: "\F105";
  font-family: FontAwesome;
  position: absolute;
  right: 0;
}

.search-navbar-wrapper {
  margin-top: 0.64rem;
  width: 22%;
}

.search-navbar-wrapper i {
  top: 34%;
  position: absolute;
}

.search-navbar-wrapper input {
  border: none;
  border-bottom: 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 2rem;
}

.table-small {
  margin: 0;
}

.table-small thead tr th {
  border-bottom: 1px solid #F0F0F0;
}

.table-small tbody tr:first-child td {
  border-top: 0px;
}

.table-small tbody tr td {
  line-height: 1.3;
  width: 18rem;
}

.table-small tbody tr td:nth-child(2) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-full {
  background: #fff;
}

.table-full thead {
  background: #fafafa;
}

.table-full thead tr th {
  border-bottom: 1px solid #F0F0F0;
  padding-left: 2rem;
}

.table-full tbody {
  text-transform: capitalize;
}

.table-full tbody tr td {
  border-top: 1px solid #F0F0F0;
  padding-left: 2rem;
  vertical-align: middle;
}

.table-full tbody tr td.td-actions {
  width: 20%;
}

.table-footer {
  padding: 2rem;
}

.table-footer div:first-child {
  padding: 3rem 0;
}

.fecha-prestamo {
  font-size: 11px;
  padding: 3px 12px;
}

.card-form {
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
  padding: 2rem;
}

.card-form .control-label {
  position: relative;
  top: 1rem;
}

.card-form .form-control {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #ddd;
  padding: 0;
}

.card-form .form-control:focus {
  border-bottom: 1px solid #238276;
}

.app-check {
  padding-left: 260px;
}

.app-check .main-content {
  color: #666;
  position: relative;
}

.big-content {
  padding-bottom: 40px;
  padding-top: 51px;
  padding-left: 40px;
  padding-right: 40px;
}

.big-content .big-content-desc {
  padding: 20px;
  padding-left: 0;
}

.big-content .big-content-desc a i {
  color: #302f42;
  font-size: 2rem;
}

.right-content {
  background: #eee;
  padding: 72px 20px;
}

.right-content h4 {
  margin-bottom: 30px;
}

.right-content .card {
  color: #9e9e9e;
  font-size: 12px;
}

.classroom-card {
  background: #fff;
  border-radius: 4px;
  display: block;
  position: relative;
}

.classroom-card .clr-desc {
  padding: 1rem;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 2;
}

.classroom-card .clr-desc span.circle {
  background: #fff;
  border-radius: 50%;
  content: '';
  height: 4rem;
  position: absolute;
  right: 1rem;
  top: -2rem;
  width: 4rem;
  z-index: 3;
}

.classroom-card .clr-desc h5 {
  font-size: 1.7rem;
  margin: 0;
  padding: 1rem 0;
}

.classroom-card .clr-desc h5::first-letter {
  text-transform: uppercase;
}

.classroom-card .clr-desc hr {
  margin: 0 0 0.5rem 0;
}

.classroom-card div.clr-img {
  position: relative;
  width: 100%;
  height: 10rem;
}

.classroom-card div.clr-img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.classroom-card div.clr-img .img-clrinactive {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.classroom-card div.clr-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: inherit;
}

.classroom-card.clr-entregar .clr-img:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 255, 33, 0.1)), color-stop(5%, rgba(255, 201, 33, 0.1)), to(#5fd45f));
  background: linear-gradient(to bottom, rgba(222, 255, 33, 0.1) 0%, rgba(255, 201, 33, 0.1) 5%, #5fd45f 100%);
}

.classroom-card.clr-entregar hr {
  border-top: 1px solid #5fd45f;
}

.classroom-card.clr-entregar .info-clr {
  bottom: 0.3rem;
  color: #fff;
  display: block;
  height: 2.8rem;
  left: 0;
  padding: 0.3rem;
  padding-left: 1rem;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.clr-repair .clr-img:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 255, 33, 0.1)), color-stop(5%, rgba(255, 201, 33, 0.1)), to(#d45f5f));
  background: linear-gradient(to bottom, rgba(222, 255, 33, 0.1) 0%, rgba(255, 201, 33, 0.1) 5%, #d45f5f 100%);
}

.clr-repair .hr-repair {
  border-top: 1px solid #d45f5f;
}

.clr-inactive {
  background: #cccccc;
  color: #616161;
}

.clr-inactive hr {
  border-top: 1px solid #9e9e9e;
}

.clr-inactive:hover,
.clr-repair:hover {
  cursor: not-allowed;
}

.amb-disponible:hover,
.clr-entregar:hover {
  cursor: pointer;
}

.amb-disponible:hover .clr-desc,
.clr-entregar:hover .clr-desc {
  background: #ccc;
}

i.itm_quare {
  color: #93f793;
}

.modal-prestar p {
  margin-bottom: 3rem;
}

.modal-prestar i {
  font-size: 4rem;
  vertical-align: middle;
}

.modal-prestar input {
  border: none;
  display: inline-block;
  width: 80%;
}

.panel-ins {
  background: #f7f7f7;
}

form {
  position: relative;
}

form .img-instructor {
  position: absolute;
  top: -7rem;
  right: 0;
  width: 12rem;
}

.floor-plan {
  padding: 4rem 0;
}

.floor-plan div h2 {
  margin-bottom: 2rem;
}

.floor-plan div svg {
  width: 100%;
}

.cpic-floor1 path {
  fill: #fff;
}

.cpic-floor1 path:hover {
  fill: #f7f7f7 !important;
}

.err404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.err404 div div h1 {
  margin-top: 0;
  font-size: 7rem;
}

.err404 div i {
  font-size: 34rem;
}

.err404 div p {
  font-size: 1.8rem;
}

.select2-container {
  width: 100% !important;
}

@media (min-width: 993px) {
  .navbar-fixed-top.mleft {
    margin-left: 260px !important;
  }
}

