html {
    height: 100%;
}

body {
    background: #f9f9f9;
    font-family: sans-serif;
    min-height: 100%;
}

a,
a:focus,
a:hover {
    color: inherit;
    outline: 0px;
    outline-offset: 0px;
    text-decoration: none;
}

input,
.form-control {
    border-radius: 0px;
}

::-moz-selection {
    background-color: #67bb0f;
    color: #fff;
}

::selection {
    background-color: #67bb0f;
    color: #fff;
}

.custom-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    width: 22rem;
}

.has-error .form-control:focus,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.btn {
    border: none;
    font-weight: 400;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.btn-round {
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 30px;
}

.btn-solicitud {
    background: #becd0d;
    color: #fff;
    padding: 0.1rem 1rem;
}

.action-round {
    background: #67bb0f;
    border-radius: 50%;
    bottom: 3rem;
    color: #fff;
    height: 60px;
    line-height: 60px;
    padding: 0;
    position: fixed;
    right: 3rem;
    width: 60px;
    z-index: 3;
}

.action-round:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-round:hover {
    background: #becd0d;
}

.btn-not-delete {
    background: #e02517;
    text-decoration: line-through;
    color: #fff;
}

.blockquote {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
}

.blockquote-success {
    background: -webkit-gradient(linear, left top, right top, from(#dccd00), to(#4ab712));
    background: linear-gradient(90deg, #dccd00 0%, #4ab712 100%);
    color: #fff;
}

.blockquote-danger {
    background: #eb1616;
    color: #fff;
}

.blockquote-danger form {
    display: inline-block;
    background: #fff;
    color: #666;
    padding: 0.4rem 0.8rem;
    margin-top: 1rem;
}

.btn-modal-historial {
    background: #fff;
    color: #666;
    margin-top: 1.6rem;
    padding: 0.4rem 4rem;
}

.blockquote span.btn,
.blockquote a,
.blockquote-success span.btn {
    background: #fff;
    color: #666;
    padding: 0.3rem 1rem;
}

.blockquote-info {
    background: -webkit-gradient(linear, left top, right top, from(#00dcd2), to(#19a289));
    background: linear-gradient(90deg, #00dcd2 0%, #19a289 100%);
    color: #fff;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #c2cd0b;
    border-color: transparent;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > a,
.pagination > li > span {
    color: #272634;
}

.breadcrumb {
    background: transparent;
    margin: 0;
    padding-left: 2rem;
    padding-top: 1.3rem;
}

.navbar {
    border-color: transparent;
    border-radius: 0px;
    min-height: inherit;
    margin-bottom: 0;
    padding: 1rem;
}

.modal-content {
    border: 0px;
}

.modal-footer,
.modal-header {
    border: 0px;
}

.modal-body-section {
    padding: 15px;
    position: relative;
}

.btn-link {
    color: #3097D1 !important;
}

.btn-no-style {
    border: none;
    background: transparent;
    color: #3097D1;
}

.btn.btn-danger {
    background: #eb1616;
}

.btn-success {
    background: #67bb0f;
}

.btn-success:hover {
    background-color: #5aa50c;
}

.button-width {
    width: 100%;
}

.width-button {
    width: 20rem;
}

button[name="button-import"] {
    margin-top: 1rem;
}

.form-group {
    position: relative;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #ffffff;
    border: 0px;
    border-top: 2px solid #becd0d;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 22px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.help-block {
    background: red;
    color: #fff !important;
    padding: 0.8rem;
}

.no-margin {
    margin: 0;
}

.page-section {
    padding: 0rem 0rem;
}

.btn-delete {
    background: transparent;
    border: none;
    padding: 0;
}

.card {
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
}

.card {
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
    position: relative;
}

.card-header {
    padding: 15px 20px;
}

.card-content {
    padding: 15px 20px;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-image: linear-gradient(346deg, #ffa705 50%, #ff8f2f 100%) !important;
}

.navbar-default .navbar-nav > li > a.top-login {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#999999));
    background: linear-gradient(#aaaaaa 0%, #999999 100%);
    border: 1px solid #949494;
    border-radius: 3px;
    color: #fff;
    height: 24px;
    line-height: 23px;
    padding: 0px 15px;
}

.user-name {
    padding: 0px 10px !important;
}

.radio label,
.checkbox label {
    min-height: 24px;
}

a.top-login:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 4px;
    cursor: pointer;
}

a.top-login:after {
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    content: "";
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.dropdown-custom:after {
    content: "";
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0px;
    margin: 0px 0px 0px -13px;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0;
}

.alert {
    bottom: 3rem;
    position: absolute;
    right: 3rem;
    z-index: 19;
}

.alert-success {
    background-color: #32bb1f;
    border-color: transparent;
    color: #ffffff;
}

[data-target="#modalEntrega"]:hover {
    cursor: pointer;
}

li.li-entrega div:nth-child(2) {
    margin-top: 0.8rem;
}

.li-item {
    color: #fff;
    background: linear-gradient(76deg, #4e4e4e 0%, #464646 100%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.li-item a {
    color: #fff;
}

.li-item-solicitudes:hover {
    background: -ms-linear-gradient(-26.76deg, #24cd00 0%, #59d735 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#24CD00', endColorstr='#59D735' ,GradientType=0)";
    background: linear-gradient(116.76deg, #24cd00 0%, #59d735 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24CD00',endColorstr='#59D735' , GradientType=1);
}

#sidebar {
    display: none;
}

#sidebar #sidebar-logo img {
    margin: 0 auto;
    width: 70%;
}

.li-entrega {
    background: -ms-linear-gradient(0deg, #dccd00 0%, #b6cd11 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCCD00', endColorstr='#B6CD11' ,GradientType=0)";
    background: -webkit-gradient(linear, left top, right top, from(#dccd00), to(#b6cd11));
    background: linear-gradient(90deg, #dccd00 0%, #b6cd11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCCD00',endColorstr='#B6CD11' , GradientType=1);
}

#sidebar #sidebar-content {
    padding: 1rem;
}

#sidebar #sidebar-content ul li {
    margin: 8px 0;
}

#sidebar #sidebar-content ul li.active {
    background: #b6cd11;
}

#sidebar #sidebar-content ul li a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding: 0.8rem;
    position: relative;
}

#sidebar #sidebar-content ul li a i {
    font-size: 25px;
    line-height: 31px;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 0;
    border-radius: 3px;
    text-align: center;
}

#sidebar #sidebar-content ul li a:after {
    content: "\F105";
    font-family: FontAwesome;
    position: absolute;
    right: 1rem;
}

#mbody-solicitud .row {
    border-bottom: 1px solid #eee;
    padding: 1rem;
}

#mbody-solicitud .row h5 {
    font-weight: bold;
}

.mas-entregas {
    border: 1px solid #f7dd17;
}

.mas-entregas:before {
    content: "\F091";
    color: #f7dd17;
    font-size: 2rem;
    font-family: FontAwesome;
    display: block;
    position: absolute;
    top: -3rem;
    left: 41%;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
}

table caption {
    padding: 10px 15px;
}

.table-desc {
    margin-top: 0.8rem;
}

.table > thead > tr > th {
    border-bottom: 0px solid #ddd;
}

.search-table {
    position: relative;
}

.table-hover > tbody > tr:hover {
    background-color: #fdfdfd;
}

.table-full thead tr th,
.table-full tbody tr td {
    border-top: 1px solid #e8e8e8;
}

.table-small {
    margin: 0;
}

.table-small thead tr th {
    border-bottom: 1px solid #F0F0F0;
}

.table-small tbody tr:first-child td {
    border-top: 0px;
}

.table-small tbody tr td {
    line-height: 1.3;
    width: 18rem;
}

.table-small tbody tr td:nth-child(2) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-form {
    background: #fff;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
    padding: 2rem;
}

.card-form .control-label {
    position: relative;
    top: 1rem;
}

.card-form .form-control {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
}

.card-form .form-control:focus {
    border-bottom: 1px solid #238276;
}

.app-check .main-content {
    color: #666;
    position: relative;
}

.big-content {
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.big-content .big-content-desc {
    border: 1px solid #eee;
    padding: 1rem;
    margin: 1.6rem 0rem;
}

// .big-content .big-content-desc a i {
//   font-size: 2rem;
// }

.big-content-desc h4 {
    color: #9e9e9e;
    font-size: 17px;
}

.logo-suplemento {
    bottom: 1rem;
    opacity: 0.7;
    position: absolute;
    right: 6rem;
    -webkit-transition: all 0.0195s ease-in;
    transition: all 0.0195s ease-in;
    width: 23rem;
    z-index: 99999;
}

.logo-suplemento:hover {
    cursor: pointer;
    opacity: 1;
}

.err404 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
}

.err404 div div h1 {
    margin-top: 0;
    font-size: 7rem;
}

.err404 div i {
    font-size: 34rem;
}

.err404 div p {
    font-size: 1.8rem;
}

.select2-container {
    width: 100% !important;
}

.control {
    display: block;
    position: relative;
    padding-left: 25px !important;
    margin-bottom: 15px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #39daf7;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #39daf7;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    height: 11px;
    left: 6px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

#userImage {
    background: #becd0d;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 3rem;
    padding: 0 0.7rem;
    width: 2.5rem;
}

.logobienestar-navbar {
    float: right;
    margin-right: 3rem;
    width: 4%;
}

.img-welc-suplemento {
    width: 40%;
}

.btn-welc-entrega {
    color: #fff;
    margin: 4rem auto;
    padding: 1rem;
    width: 60%;
}

.btn-welc-entrega:hover {
    color: #fff;
}

.login-box {
    background: #333;
    border-top: 6px solid #39DAF7;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: #afb1be;
    left: -19.8rem;
    margin-top: 1.5rem !important;
    position: absolute;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 325px;
    z-index: 9999;
}

.login-title {
    font-size: 16px;
}

.secpart-login {
    padding: 15px 35px;
}

.btn-login {
    background: #39DAF7;
    color: #FFF;
    font-weight: 300;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px 0px 0px 0px;
    border: none;
    cursor: pointer;
    outline: none;
}

.form-login {
    background: #6f6f6f;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    padding-left: 6rem;
}

.icon-form {
    left: 35px;
    position: absolute;
    top: 1.1rem;
}

#numero_documento {
    float: left;
    width: 90%;
}
#buscar_aprendiz {
    border: none;
    height: inherit;
    padding: 7px 12px;
    width: 10%;
}

.aprendiz-card {
    background: -webkit-gradient(linear, left top, right top, from(#77b513), to(#b6cd11));
    background: linear-gradient(to right, #77b513 0%, #b6cd11 100%);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
    color: #fff;
    margin-top: 2rem;
    padding: 1rem 1rem 0rem;
    position: relative;
}

.aprendiz-card::before {
    bottom: -8.5rem;
    content: '+';
    color: #fff;
    font-size: 14rem;
    position: absolute;
    right: -1rem;
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
}

.aprendiz-card li {
    margin: 0;
}

.entrega-warning {
    background: #E91E63;
    color: #fff;
    padding: 0.3rem 1rem;
}

.search-dates-wrapper {
    padding: 1rem;
}

.card-historial {
    display: block;
    height: 15rem;
}

.card-header-historial {
    color: #fff;
    position: relative;
}

.card-header-historial i {
    font-size: 6rem !important;
    left: 7.5rem;
    position: absolute;
    top: 4rem;
}

.card-header-historial i.fa-calendar {
    top: 2rem;
}

.card-footer-historial {
    padding: 0.5rem 1rem;
    text-align: center;
}

.blockquote.historial-desc {
    background: linear-gradient(346deg, #ffa705 0%, #ff8f2f 100%);
    color: #fff;
}

#datepicker .input-group-addon {
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;
}

.form-datepicker {
    border: 1px solid #eee;
    padding: 1rem 3rem;
}

.input-group {
    width: 100%;
}

.input-date-wrapper.focus label {
    color: #ff8f2f;
}

.input-date-wrapper.focus:before {
    color: #ff8f2f;
}

.input-date-wrapper {
    overflow: hidden;
    position: relative;
}

.input-date-wrapper label {
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.input-date-wrapper:before {
    bottom: 0;
    content: "\F073";
    font-family: 'FontAwesome';
    font-size: 20px;
    position: absolute;
    left: 0rem;
}

input[name="inicio"],
input[name="fin"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

input[name="inicio"]:hover,
input[name="fin"]:hover {
    cursor: pointer;
}

/*import*/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: #666;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 5 */

.inputfile-5 + label {
    background: #eee;
    display: block;
    margin: 0;
    text-align: center;
}

.inputfile-5 + label:hover svg {
    fill: #666;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #f9f9f9;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-right: 20px solid transparent;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #989898;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.import-img {
    margin: 2rem auto;
    width: 20%;
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

@media (min-width: 991px) {
    #sidebar {
        background: #eaeaea;
        display: block;
        position: fixed;
        height: 100%;
        width: 260px;
    }

    .app-check {
        padding-left: 260px;
    }

    .row.no-gutter {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
    }

    .search-table:before {
        content: "\F002";
        font-family: FontAwesome;
        left: -2rem;
        position: absolute;
        top: 0.6rem;
    }
}

#formEntrega {
    padding: 2rem 0;
}

#apprentice {
    padding: 1rem 0;
}

.panel-heading .fa-trophy {
    display: block;
    font-size: 2rem;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-flex #sidebar-system {
    -ms-flex-preferred-size: 230px;
    flex-basis: 230px;
}

.d-flex #sidebar-system .nav-tabs > li.active > a,
.d-flex #sidebar-system .nav-tabs > li.active > a:hover,
.d-flex #sidebar-system .nav-tabs > li.active > a:focus {
    background-color: rgba(9, 30, 66, 0.04);
    border: 0px;
    border-radius: 3px;
}

.d-flex #sidebar-system .nav-tabs > li > a:hover {
    border-color: transparent;
}

.d-flex #sidebar-system .nav > li > a:hover,
.d-flex #sidebar-system .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.d-flex #sidebar-system .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.6;
    border: 0px;
    border-radius: 3px;
}

.d-flex #sidebar-system li[role="presentation"] {
    display: block;
    float: none;
}

.d-flex .tab-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 1rem;
}

.document-img {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }
}
